:host {
  display: flex;
  height: 100%;
}

.auth-container {
  width: 100%;
  max-width: 220px;
  margin: auto;
  padding: 0 .75rem;
}

h2 {
  margin-bottom: 2rem;
}

.input-wrapper {
  margin-bottom: 16px;
}

button {
  margin-top: 32px;
  width: 100%;
}
