:host {
  display: flex;
  height: 100%;
}

.container {
  max-width: 220px;
}

h2 {
  margin-bottom: 2rem;
}

.input-wrapper {
  margin-bottom: 16px;
}

button {
  margin-top: 32px;
  width: 100%;
}
