<form (ngSubmit)="submit()" [formGroup]="formGroup">
  <div *ngIf="mode === 'edit'" class="user-checkout-edit">
    <div class="input-wrapper">
      <label for="email">Email</label>
      <input class="input" id="email" formControlName="email" type="email">
    </div>
    <div class="input-wrapper">
      <label for="fullName">Full Name</label>
      <input class="input" id="fullName" formControlName="fullName" type="text">
    </div>
    <div class="input-wrapper">
      <label for="address">Address</label>
      <input class="input" id="address" formControlName="address" type="text">
    </div>
    <div class="input-wrapper">
      <label for="phone">Phone</label>
      <input class="input" id="phone" formControlName="phone" type="tel">
    </div>
    <div class="input-wrapper">
      <label for="creditCard">Credit Card</label>
      <input (input)="creditCardInput($event)" class="input" id="creditCard" formControlName="creditCard" type="text">
    </div>
    <div class="input-wrapper">
      <label for="cvv">CVV</label>
      <input (input)="cvvInput($event)" class="input" id="cvv" formControlName="cvv" type="password">
    </div>
  </div>
  <button type="button" *ngIf="mode === 'view'" (click)="mode = 'edit'" class="btn-circle">edit</button>
  <div *ngIf="mode === 'view'" class="user-checkout-view">
    <p><span>Email: </span>{{ formValue.email }}</p>
    <p><span>Full Name: </span>{{ formValue.fullName }}</p>
    <p *ngIf="formValue.address"><span>Address: </span>{{ formValue.address }}</p>
    <p><span>Phone: </span>{{ formValue.phone }}</p>
    <p><span>Credit Card: </span>{{ creditCardMask }}</p>
    <p><span>CVV: </span>***</p>
  </div>
  <button class="btn-submit" type="submit">Pay {{ totalPaymentAmount }} $</button>
</form>
