<form [formGroup]="formGroup">
  <div *ngIf="mode === 'edit'" class="user-checkout-edit">
    <div class="input-wrapper">
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email">
    </div>
    <div class="input-wrapper">
      <label for="fullName">Full Name</label>
      <input id="fullName" formControlName="fullName"type="text">
    </div>
    <div class="input-wrapper">
      <label for="address">Address</label>
      <input id="address" formControlName="address" type="text">
    </div>
    <div class="input-wrapper">
      <label for="phone">Phone</label>
      <input id="phone" formControlName="phone" type="tel">
    </div>
    <div class="input-wrapper">
      <label for="creditCard">Credit Card</label>
      <input id="creditCard" formControlName="creditCard" type="text">
    </div>
    <div class="input-wrapper">
      <label for="cvv">CVV</label>
      <input id="cvv" formControlName="cvv" type="text">
    </div>
  </div>
  <div *ngIf="mode === 'view'" class="user-checkout-view">

  </div>
  <button type="submit">Pay {{ totalPaymentAmount }}$</button>
</form>
